<!DOCTYPE html>
html
    head
        - var page = { title: 'Settings' }
        include inc/blocks/head.pug
    body
        include inc/blocks/header.pug
        include inc/account_settings/content_saved.pug
        include inc/blocks/footer.pug
        include inc/blocks/scripts.pug