<!DOCTYPE html>
html
    head
        - var page = { title: 'results' }
        include inc/blocks/head.pug
    body
        include inc/blocks/header.pug
        include inc/results/content.pug
        include inc/blocks/footer.pug
        include inc/blocks/scripts.pug
