.container.account_content
    .row
        .col.aside_left
            .user_menu
                .user_menu_header
                    .user_photo(style="background-image:url(img/examples/Ellipse.png)")
                    .user_name Matt Szewczyk
                -var menu=['Settings','My stats','Schedule','Security','Logout'];
                .user_menu_body
                    ul.nav
                        for user_nav_item, index in menu
                            if user_nav_item===page.title
                                li.active
                                    a(href="#")=user_nav_item
                            else
                                li
                                    a(href="#")=user_nav_item

        .col.main_right
            .h1.page_title My Account
            form.personal_information.saved
                label Personal information
                .row.personal_information_row
                    .col
                        .fields_group
                            .field
                                input.form_control(placeholder="Your first name *" value="Matt")
                            .field
                                input.form_control(placeholder="Your last name *" value="Szewczyk")
                            .field
                                input.form_control(placeholder="Your middle name" value="Janiak")
                    .col
                        .fields_group
                            .field
                                input.form_control(placeholder="Your e-mail *" value="mattszewczyk34@gmail.com")
                            .field
                                input.form_control(placeholder="Your phone number" value="+1 983 872 836")
                .row.personal_information_row
                    .col
                        .fields_group
                            label Date of birth
                            .row.small_group
                                .col
                                    .field
                                        input.form_control(placeholder="Day" value="10")
                                .col
                                    .field
                                        select.custom_select
                                            option Month
                                            -for (var s = 1; s <= 12; s++)
                                                if s===3
                                                    option(selected="selected")  #{s}
                                                else
                                                    option  #{s}
                                .col
                                    .field
                                        input.form_control(placeholder="Year" value="1985")
                        .fields_group
                            label Where are you from
                            .field
                                input.form_control(placeholder="Town" value="Dallas")
                    .col
                        .fields_group
                            label Your social life
                            ul.social_links
                                li
                                    a(href="#")
                                        picture
                                            img(src="img/icons/facebook_d.svg")
                                        span matt.szewczyk985
                                li
                                    a(href="#")
                                        picture
                                            img(src="img/icons/twitter_d.svg")
                                        span matt.szewczyk
                                li
                                    a(href="#")
                                        picture
                                            img(src="img/icons/instagram_d.svg")
                                        span matt_szewczykpinball

                button.btn.btn_red(type="submit") Edit