.container
    .results
        .row
            -for(var r=1;r<=8;r++)
                .col
                   .results_item
                        .results_item_title Season #{r}
                        .results_item_group
                            .results_item_subtitle Grand Champion
                            p
                                strong Matt Szewczyk
                        .results_item_group
                            .results_item_subtitle Grand Champion
                            p Matt Szewczyk
                        .results_item_group
                            .results_item_subtitle Grand Champion
                            p Matt Szewczyk
                        a.btn.btn_red(href="#") Full Results<br> Winter 2020





